/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	font-weight: lighter; outline: none; 
}


body{
	background: white;
}


header{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

 header > .logo-header, .logo-header:hover{
	width: 35%;
	min-width: 250px;
	border: none;
	margin: 0 auto;
	box-shadow: 3px 3px 5px silver;
	border-radius: 3px;

}

.log-in-out{
	width: 25%;
}


#session-control{
	display: flex;
	justify-content: space-between;
	width: 98%;
	margin: .5%;
	padding-top: .5%;
	font-size: 1em;
}

.page-container{
	/*border: 1px solid black;*/
	width: 98%;
	margin: .5%;
	border-radius: 3px;
	background: white;
	box-shadow: 1px 1px 15px silver;
	min-height: 100vh;
}

#session-control > div > a{
	color: black;
	text-decoration: none;

}


.pure-button{
	background: inherit;
	border: 1px solid black;
	border-radius: 5px;
}

a:hover{
	font-weight: bold;
}

img:hover{
	border: 2px solid black;
}

.nav-container{
	margin:  1% auto;
	/*display: flex;*/
	align-items: center;
	flex: 1;
	flex-direction: column;
	padding-top: 1.5%;

}

.nav-container > div{
	min-height: 5vh;
	padding: 1%;
	margin: 1%;



}

.login{
	width: 45%;
}
