// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-blog-form{
	
	width: 80%;
	margin: 0 auto;
	
}

#new-blog-container{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}


