// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// New Blog View


#new-blog-form{
	width: 80%;
	margin: 0 auto;
}

#new-blog-container{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

// Blog Index View
header{
	width: 80%;
	margin: 0 auto;
	h1{
		font-size: 4.5em;
		margin: 0;
	}	
}

.blog-container{
	width: 80%;
	margin: 0 auto;

}

.blog{
	
	margin: 0 auto;
	text-align: center;
	div{
		text-align: left;
		h2{
		font-size: 2em;
		}
	}

	img{
		max-width: 75%;
		max-height: 500px;
	}

	h1{
		text-align: left;
	}

}

// Blog Show view

textarea{
	width: 30%;
}



